ct_hackathon_env/
.venv/
venv/
.env
.env.*
!.env.example
local_dev/results/
local_dev/temp/
runtime_tmp/
hf_cache/
*.log
.datasphere/
data/
*.pt
*.cbm
*.pkl
*.json
*.txt
*.tsv
*.csv
*.pyc
*.tfevents
*-checkpoint*
*.ubj
*.xlsx
tests/test_data
tests/test_results
.DS_Store
.ipynb_checkpoints
*.egg-info/
build/
dist/
__pycache__/
*.tar.gz
*.pdf
