ct_hackathon_env/
local_dev/results/
local_dev/temp/
*.log
.datasphere/
data/
*.pt
*.cbm
*.pkl
*.json
*.txt
*.tsv
*.csv
*.pyc
*.tfevents
*-checkpoint*
*.ubj
*.xlsx
tests/test_data
tests/test_results
.DS_Store
.ipynb_checkpoints
*.egg-info/
__pycache__/
*.tar.gz